h1{
  font-size: 45px;
  text-align: center;
  background-color: gray;
  margin: 20px auto;
  border-radius: 5px;
}


.git{
  background-color: skyblue;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
  color: azure;
  font-size: 30px;
  box-shadow: 1px 1px 1px 1px  rgba(10, 10, 10, 0.2);
}